<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="McSystemOpenBuyProV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <McSystemOpenBuyProV2.Properties.Settings>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="pw" serializeAs="String">
                <value />
            </setting>
            <setting name="printerWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="remember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nameDB" serializeAs="String">
                <value />
            </setting>
            <setting name="userDB" serializeAs="String">
                <value />
            </setting>
            <setting name="pwDB" serializeAs="String">
                <value />
            </setting>
            <setting name="hostDB" serializeAs="String">
                <value />
            </setting>
            <setting name="port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="NombreEmpresa" serializeAs="String">
                <value />
            </setting>
            <setting name="Direccion1" serializeAs="String">
                <value />
            </setting>
            <setting name="Direccion2" serializeAs="String">
                <value />
            </setting>
            <setting name="Direccion3" serializeAs="String">
                <value />
            </setting>
            <setting name="Mensaje1" serializeAs="String">
                <value />
            </setting>
            <setting name="Mensaje2" serializeAs="String">
                <value />
            </setting>
            <setting name="Mensaje3" serializeAs="String">
                <value />
            </setting>
            <setting name="telefono" serializeAs="String">
                <value />
            </setting>
            <setting name="correo" serializeAs="String">
                <value />
            </setting>
            <setting name="website" serializeAs="String">
                <value />
            </setting>
            <setting name="printerTicket" serializeAs="String">
                <value>Snagit</value>
            </setting>
        </McSystemOpenBuyProV2.Properties.Settings>
    </userSettings>
</configuration>
